.bleu {
  background: black;
}
main {
  min-height: 100vh;
  background: black;
}
article {
  height: 500px;
  border: 1px solid black;
  padding: 5vh 0;
}

.format {
  width: 60%;
  margin: auto;
}
.btn-perso {
  background-color:green ;
}
.btn-perso:hover {
  background: red;
}

